<%= render 'shared/page_title', title: "Rink Chat" %>

<div class="row chat-container">
  <div class="col-md-8 center-block">
    <div class="messages" id="messages">
      
    </div>
  </div>
  <div class="message-container">
    
  </div>
</div>