$navbar-default-bg: #17395b;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron-text-center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('hockey-rink.jpg');
  background-size: cover;
  height: 400px;
  
  h1, h2 {
  color: #fff;
  text-align: center;
  }
}

.navbar {
  margin-bottom: 0px !important;
  border-radius: 0 !important;
}

.btn-xlarge {
  background-color: #17395b;
  border-color: #17395b;;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  color: #fff;
 
}

.tip-name {
  font-size: 22px;
  color: #17395b;
}

.tip-description {
  color: #676767;
}
